<div class="container">
    
    <div class="col-5"><!--col-md-10 col-sm-12 md-->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item disabled" style="background-color: red; color: white;">Productos</li>
                <li class="list-group-item">dcdc</li>
                <li class="list-group-item">dcdc</li>
                <li class="list-group-item">dcdc</li>
                <!--<li class="list-group-item d-flex justify-content-between align-items-center">
                    dcdc
                    <span class="badge badge-primary badge-pill">14</span>
                </li>-->
            </ul>
        </div>
    </div>

    <div class="col-7"><!-- col-md-10 col-sm-12 md-->    
        <div class="card ">
            <div class="card-header" style="background-color:red;color:white;">
                <h3>Nombre empresa</h3>
            </div>
                            
            <div class="card-body">
                
                <div>
                    <h6 class="card-title">Datos empresa</h6>
                    <p class="card-text">
                        Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                        , cabe destacar ...
                    </p>
                </div>
                <div>
                    dvfvg
                </div>

                <h6 class="card-title">Datos persona</h6>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>            
            </div>
        </div>
        <div style="background-color: white; border-radius:10px; text-align:center; border-color:black;">
            TEXTO DEL EMPRENDEDOR
        </div>
    </div>
    <img src="../../../assets/img/1.png" alt="img Producto">
</div>