<div class="container-fluid ind">
    <div class="row">
        <div class="col-4"><!--col-md-10 col-sm-12 md--></div>
    
        <div class="col-8"><!-- col-md-10 col-sm-12 md-->    
            <div class="card">
                <div class="card-header" style="background-color:red;color:white;">
                    <h3>{{negocio.nombre_negocio}}</h3>
                </div>
                                
                <div class="card-body">
                    
                    <div>
                        <h6 class="card-title">Datos empresa</h6>
                        <p class="card-text">
                            Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                            , cabe destacar ...
                        </p>
                    </div>
                    <div>
                        dvfvg
                    </div>
    
                    <h6 class="card-title">Datos persona</h6>
                    <p class="card-text">
                        Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                        , cabe destacar ...
                    </p>            
                </div>
            </div>
            <div class="empMess">
                TEXTO DEL EMPRENDEDOR
            </div>
        </div>
        <div class="row">
            <div class="col-4"><!--col-md-10 col-sm-12 md-->
                <table class="table table-hover tbP">
                    <thead >
                        <th colspan="3">Productos</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>aaaaa</td>
                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>aaaaa</td>
                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>Añadir</td>
                            <td colspan="2"><i class="fa-solid fa-circle-plus"></i></td>
                        </tr>
                    </tbody>
                </table>
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">
                            dcdc
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>-->    
            </div>
            <div class="col-8 prodEsp">
                <h5>Nombre producto</h5>
                <p>Descripción producto</p>
                <img src="../../../assets/img/1.png" alt="img Producto">
            </div>
        </div>
    </div>
</div>