<div class="container">
  <div class="pt-0 m-0 row justify-content-center">
      <div class="bck">
      <div class="col-md-8 col-sm-8 col-xl-5 col-lg-6 formularioLogin my-3">
          <form action="">
              <div class="form-group text-center pt-2 pb-4 hlog">
                  <h1 style="height:20px;">REGISTRO</h1>
              </div>
              
              <br>

              <div class="form-group mx-sm-4">
                <div class="etiqueta">*Alias:</div>
                <input class="form-control" type="text" name="nombre" placeholder="Ingrese alias" required><!--[(ngModel)]="nombre"-->
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Email:</div>
                <input class="form-control" type="text" name="email" placeholder="Ingrese email" required><!--[(ngModel)]="email"-->
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Contraseña:</div>
                <input class="form-control" type="password" name="password" placeholder="Ingrese contraseña" required><!--[(ngModel)]="password"-->
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Confirmar contraseña:</div>
                <input class="form-control" type="password" name="password2" placeholder="Ingrese contraseña" required><!--[(ngModel)]="password2"-->
            </div>
        
              
              
            <br><br>
              <div class="buttons">
                  <button class="blob-btn" [routerLink]="'login'">
                    Registrar
                      <span class="blob-btn__inner">
                          <span class="blob-btn__blobs">
                              <span class="blob-btn__blob"></span>
                              <span class="blob-btn__blob"></span>
                              <span class="blob-btn__blob"></span>
                              <span class="blob-btn__blob"></span>
                          </span>
                      </span>
                  </button>
              </div>

              
              <button class="btn btnn mb-2 mr-2" (click)="limpiar()">
                Limpiar
              </button>


          </form>
      </div>
      </div>
  </div>
</div>