<div class="container ind">
    <div class="row">
        
            <div class="card-group">


                <div class="card">
                    <div class="card-header">
                        <h3>Nombre empresa</h3>
                    </div>
                    <img class="card-img-top" src="../../../assets/img/1.png" alt="Card image">
                    <div class="card-body">
                        <h6 class="card-title">Nombre Dueño</h6>
                        <p class="card-text">
                            Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                            , cabe destacar ...
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Ubicación: Edificio 49-A
                            </small>
                        </p>


                        <div class="buttons">
                            <button class="blob-btn" [routerLink]="'../products'">
                                Visitar
                                <span class="blob-btn__inner">
                                    <span class="blob-btn__blobs">
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                    </span>
                                </span>
                            </button>
                        </div>



                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h3>Nombre empresa</h3>
                    </div>
                    <img class="card-img-top" src="../../../assets/img/2.png" alt="Card image">
                    <div class="card-body">
                        <h6 class="card-title">Nombre Dueño</h6>
                        <p class="card-text">
                            Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                            , cabe destacar ...
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Ubicación: Edificio 49-A
                            </small>
                        </p>
                        
                        <div class="buttons">
                            <button class="blob-btn" [routerLink]="'products'">
                                Visitar
                                <span class="blob-btn__inner">
                                    <span class="blob-btn__blobs">
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>