.ind{
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    /*padding: 20px;*/
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    min-width: 90%;
    height: 100%;
}

.card-group{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

.card-header{
    background: #FF160A;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

.card-img-top {
    width: 80%;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}