<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Nombre empresa</h3>
                </div>
                <img class="card-img-top" src="../../../assets/img/1.png" alt="Card image">
                <div class="card-body">
                    <h6 class="card-title">Nombre Dueño</h6>
                    <p class="card-text">
                        Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                        , cabe destacar ...
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Ubicación: Edificio 49-A
                        </small>
                    </p>
                    <button type="button" class="btn btn-block" style="background: red;
                    padding: 10px;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 600!Important;
                    color: white;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
                    transition: .8s;" [routerLink]="'products'"><h6>Visitar</h6></button>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Nombre empresa</h3>
                </div>
                <img class="card-img-top" src="../../../assets/img/2.png" alt="Card image">
                <div class="card-body">
                    <h6 class="card-title">Nombre Dueño</h6>
                    <p class="card-text">
                        Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                        , cabe destacar ...
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Ubicación: Edificio 49-A
                        </small>
                    </p>
                    <button type="button" class="btn btn-block" style="background: red;
                    padding: 10px;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 600!Important;
                    color: white;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
                    transition: .8s;"><h6>Visitar</h6></button>
                </div>
            </div>
        </div>

    </div>
</div>