


<nav class="navbar navbar-expand-lg mb-0">
  <div class="container">


      <div class="col-12 imge" style="text-align:center;">
        <a class="navbar-brand" [routerLink]="'.'">
          <img src="../../assets/img/logoSF.png" height="100px">
        </a>
      </div>


    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>


      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse opciones">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'" routerLinkActive="active-link" (click)="isMenuCollapsed = true">Inicio</a>
          </li>
          
          <li class="nav-item"><!--<li class="nav-item" *ngIf='!active()'>-->
            <a class="nav-link" [routerLink]="'./login'" routerLinkActive="active-link" (click)="isMenuCollapsed = true">Login</a>
          </li>
        </ul>
      </div>

  </div>
</nav>