.footer{
    background: rgb(255,149,10);
    background: linear-gradient(90deg, rgba(255,149,10,1) 25%, rgba(255,196,133,1) 50%, rgba(255,149,10,1) 75%);
    font-family:'Times New Roman', Times, serif;
}
.fondo{
    background-image: url(../assets/img/fondo.jpg);
    margin-top: 40px;
    margin-bottom: 40px;
}