<div class="container">
    <div class="pt-0 m-0 row justify-content-center">
        <div class="bck">
        <div class="col-md-8 col-sm-8 col-xl-5 col-lg-6 formularioLogin my-3">
            <form action="">
                <div class="form-group text-center pt-2 pb-4">
                    <h1>INICIAR SESIÓN</h1>
                </div>
                <div class="form-group mx-sm-4">
                    <input class="form-control" type="text" name="ce" placeholder="Ingrese su email" required><!--[(ngModel)]="email"-->
                </div>
                <div class="form-group mx-sm-4 pt-2 pb-4">
                    <input class="form-control" type="password" name="pass" placeholder="Ingrese su contraseña"  required><!--[(ngModel)]="password"-->
                </div>
                
                <!--<input type="submit" class="btn btn-block acceder" value="ACCEDER" (click)="validarUsuario()">-->
                
                <div class="buttons">
                    <button class="blob-btn" [routerLink]="'#'">
                        Acceder
                        <span class="blob-btn__inner">
                            <span class="blob-btn__blobs">
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                                <span class="blob-btn__blob"></span>
                            </span>
                        </span>
                    </button>
                </div>


            </form>
            <div class="text-center">
                ¿Aún no te registras?
                <button class="btn btnn mb-2 mr-2" [routerLink]="'../register'">Registrar</button>
            </div>
        </div>
    </div>
</div>