.formularioLogin{
    background: rgba(202, 195, 186, 0.726);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0px auto;
}
.acceder{
    background: red;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 600!Important;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: .8s;
}
.acceder:hover{
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.form-control{
    background: rgba(0,0, 0,0.4);
    border-style: none;
    transition: 0.6s ease-in;
    outline: none;
    box-shadow: none;
}
.form-control:focus{
    background: rgba(0,0, 0,0.1);
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: white;
}
input, option{
    font-weight: 600;
    color: white;
}

.bck{
    background: lightslategray;
    border-radius: 15px;
    width: 80%;
}