<div class="container-fluid ind">
    <div class="row">
        <div class="col-4"><!--col-md-10 col-sm-12 md--></div>
    
        <div class="col-8"><!-- col-md-10 col-sm-12 md-->    
            <div class="card" *ngFor="let neg of negocio">
                <div class="card-header" style="background-color:red;color:white;">
                    <h3>{{neg.nombre_negocio}}</h3>
                </div>
                                
                <div class="card-body">
                    <div>
                        <h6 class="card-title">Datos empresa</h6>
                        <p class="card-text">
                            Categoría: {{neg.id_cat_neg}}
                        </p>
                        <img class="card-img-top empImg" src="../../../assets/img/{{neg.img}}.jpg" alt="Card image">
                        <p class="card-text">
                            <small class="text-muted">
                                Ubicación: {{neg.ubicacion_negocio}}
                            </small>
                        </p>
                    </div>
                    <br>
                    <div class="row" *ngFor="let emp of emprendedor">
                        <h6 class="card-title">Datos persona</h6>
                        <br><br>
                        <div class="col-6">
                            <p style="text-align: justify;">*La informacón mostrada es seleccionada por la empresa, por lo que no se almacena información personal directamente del emprendedor*</p>
                            <br><br>
                            <p>Alias del emprendedor: {{emp.Alias}}</p>
                        </div>
                        <div class="col-6 redes">
                            <p><i>Redes Sociales</i></p>
                            
                            <p>
                                <img src="../../../assets/img/fb.png" alt="img Producto">
                                {{emp.facebook}}
                            </p>
                            <p>
                                <img src="../../../assets/img/insta.png" alt="img Producto">
                                {{emp.instagram}}
                            </p>
                            <p>
                                <img src="../../../assets/img/ws.png" alt="img Producto">
                                {{emp.telefono}}
                            </p>
                        </div>
                        
                    </div>            
                </div>
            </div>
            <div class="empMess" *ngFor="let emp of emprendedor">
                {{emp.mensaje}}
            </div>
        </div>
        <div class="row">
            <div class="col-4"><!--col-md-10 col-sm-12 md-->
                <table class="table table-hover tbP">
                    <thead >
                        <th colspan="3">Productos</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <td>{{producto.nombre_producto}}</td>
                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        
                        <tr>
                            <td>Añadir</td>
                            <td colspan="2"><i class="fa-solid fa-circle-plus"></i></td>
                        </tr>
                    </tbody>
                </table>
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center">
                            dcdc
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>-->    
            </div>
            
            <div class="col-8 prodEsp" *ngFor="let producto of productos">
                <h5>{{producto.nombre_producto}}</h5>
                <p>{{producto.descripcion_producto}}</p>
                <img src="../../../assets/img/{{producto.img}}.jpg" alt="img Producto">
                <br><br>
            </div>
        </div>
    </div>
</div>